body {
  background:#f3f3f3;
  color: black;
}

#root {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 200;
  font-size: 1.5rem;
  width: 100%;
}
