body {
  background:#f3f3f3;
  color: black;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.center {
  display: flex;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}

li {
  list-style: none;
  border-top: 1px solid black;
  padding: 5px 0px;
}
